name: release
on:
  push:
    tags:
      - '*'

jobs:
  packages:
    name: packagecloud
    runs-on: ubuntu-latest
    env:
      BUILDER_NAME: "GitHub Actions"
      BUILDER_EMAIL: noreply@actions.github.com

    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
      id: go

    - name: Check out code
      uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - name: install dependencies
      run: |
        sudo apt update
        sudo apt install -y pandoc
        sudo gem install fpm package_cloud

    - name: build and run unit tests
      run: make clean all test

    - name: deploy packages
      run: make deploy-packages
      env:
        PACKAGECLOUD_TOKEN: ${{ secrets.PACKAGECLOUD_TOKEN }}

  release:
    name: github
    runs-on: ubuntu-latest
    env:
      BUILDER_NAME: "GitHub Actions"
      BUILDER_EMAIL: noreply@actions.github.com

    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
      id: go

    - name: Check out code
      uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - name: install dependencies
      run: |
        sudo apt update
        sudo apt install -y pandoc

    - name: create release
      run: make github-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker:
    name: docker
    env:
      BUILDER_NAME: "GitHub Actions"
      BUILDER_EMAIL: noreply@actions.github.com

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Build the Docker image
      run: docker build --build-arg BUILDER_NAME=CI --build-arg BUILDER_EMAIL=ci@test.only . --file Dockerfile --tag mrtazz/checkmake:${GITHUB_SHA} --tag mrtazz/checkmake:latest

    - name: push the docker image to docker hub
      if: github.ref == 'refs/heads/main'
      run: |
        echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u mrtazz --password-stdin
        docker push mrtazz/checkmake:${GITHUB_SHA}
        docker push mrtazz/checkmake:latest
        docker logout hub.docker.com
